$color-bg: #282c34;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: $color-bg;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.custom-button {
  cursor: pointer;
  margin: 0 0.5rem 0 0.5rem;
  color: #61dafb;
  outline: none;
  background-color: transparent;
  border: none;

  &:hover {
    color: pink;
  }

  &:active {
    color: rgb(224, 149, 161);
  }
}