.header {}

.select-ver {
  margin: 0.5rem;

  &-opt {
    cursor: pointer;
    margin: 0 0.5rem 0 0.5rem;
    color: skyblue;
    outline: none;
    background-color: transparent;
    border: none;
  }
}